<style> /*(start of style) Characteristics for elements below*/
	 /* Style the header */
	* {
	  box-sizing: border-box;
	}
	.header {
	  background-color: #760E17;
	  padding: 20px;
	  text-align: center;
	}

	/* Create three unequal columns that floats next to each other */
	.column {
	  float: left;
	  padding: 10px;
	}

	/* Left and right column */
	.column.side {
	  width: 25%;
	  background: #290A10;
	}

	/* Middle column */
	.column.middle {
	  width: 50%;
	}
	
	/* Clear floats after the columns */
	.row::after {
	  content: "";
	  display: table;
	  clear: both;
	}
	
	h1{color: #C4FFFD;
      animation: mymove2 4s infinite;}
    @keyframes mymove2 {50% {color: #68ACAB;}
	}
	h2{color: white;}
	h3{color: cyan;}
	h4{color: red;}
	p{color: white;}
	li{color: white;}
	table{color: cyan;
		  
		  width: 200px;
		  height: 100px;
	}
	td, th {border: 1px solid white;
			width: 100px;
			height: 50px;
	}
	thead{color: red}
	section{color: white;
		  border: 1px solid white;
		  width: 450px;
		  height: 75px;
	}

	body {
    padding: 0;
    margin: 0;
    background: #A91521;
	}

	/* Style the top navigation bar */
	.topnav {
	  overflow: hidden;
	  background-color: #290A10;
	  border: 5px solid #8CFFFB;
	}

	/* Style the topnav links */
	.topnav a {
	  float: left;
	  display: block;
	  color: #8CFFFB;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}

	/* Change color on hover */
	.topnav a:hover {
	  background-color: #8CFFFB;
	  color: #290A10;
	}

	/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
	@media screen and (max-width: 600px) {
	  .topnav a {
		float: none;
		width: 100%;
	  }
	}


</style><!--End of style-->